/* Error: Expected identifier.
 *     ,
 * 332 | @media{}
 *     |       ^
 *     '
 *   style.scss 332:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 332 \2502  @media{}\d\a     \2502        ^\a     \2575 \a   style.scss 332:7  root stylesheet";
}
